body {
	background-image: url("assets/reset_1.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

a {
	text-decoration: none;
	font-size: 1rem;
	padding: 0.5rem 0;
	color: white;
	background-color: blue;
	float:right;
}

.navbar-brand {
	font-size: 1.5rem;
	font-weight: 800;
}

.nav-link {
	font-size: 1.5rem;
	font-weight: 400;
}

.loadusers {
	font-weight: 0.5rem;
	font-size: 1rem;
	background-color: white;
}

.form-group,.form-check-inline label{
	color: white;
}